@import "tailwindcss";
@

body {font-family: 'Poppins'};

h1 {
    @apply italic;
           font-family: 'Poppins';
           font-weight: bold;
           
}
p {
    @apply italic;
           font-family: 'Poppins';
           font-weight: 900;
}
h2 {
    @apply italic;
           font-family: 'Prompt';
           font-weight: 900;
           font-size: 30px;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}