@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Poppins:wght@400;700&family=Prompt:wght@400;600;700&display=swap');
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";git add .

@layer base {
    body {font-family: 'Poppins', 'Prompt'};
}

@layer components {
h1 {
    font-family: 'Poppins';
    font-weight: bold;      
}
p {
    font-family: 'Poppins', 'Prompt';
    font-weight: 900;
}
h2 {
    font-family: 'Prompt';
    font-weight: 900;
    font-size: 30px;
}

}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
