@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Poppins:wght@400;700&family=Prompt:wght@400;600;700&display=swap');
@import "tailwindcss";


body {font-family: 'Poppins', 'Prompt'};

h1 {
    @apply italic;
           font-family: 'Poppins';
           font-weight: bold;
           
}
p {
    @apply italic;
           font-family: 'Poppins', 'Prompt';
           font-weight: 900;
}
h2 {
    @apply italic;
           font-family: 'Prompt';
           font-weight: 900;
           font-size: 30px;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}